[Desktop Entry]
Name=ArpConnector
Version=0.9
GenericName=ArpConnector
Comment=ArpConnector
Exec=/home/[user name]/ArpConnector/ArpConnector %F
Categories=audio;Qt;
Keywords=midi;
Terminal=false
Type=Application
Name[en_CA]=ArpConnector
